<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultModPath" value="E:\Game\wuwa mods\Mods" />
    <add key="DefaultWwmiPath" value="E:\Game\wuwa mods\XXMI Launcher\WWMI\Mods" />
    <add key="OtherFolderPath" value="E:\Game\wuwa mods\Mods\Other" />
  </appSettings>
</configuration>