<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DefaultModPath" value="" />
        <add key="DefaultWwmiPath" value="" />
        <add key="OtherFolderPath" value="Other" />
        <add key="StandardToggleTemplatePath" value="docs\toggle.ini" />
    </appSettings>
</configuration>